.nav-bar {
  background-color: rgb(36, 36, 36);
  margin: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  flex-direction: column;

}

@media (min-width: 480px) {
    .nav-bar {
      flex-direction: row;
    }
  }