.tetris-container{ 
    display:  flex;
    flex-direction: column;
    gap: 20px
}

.board{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.row{
    display: flex;
}
.block{
    width: calc(var(--index) * 1.5);
    height: calc(var(--index) * 1.5);
    background-color: rgb(213, 213, 213);
}
.element{
    background-color: red;
}

