* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans Extrabold", sans-serif;
}

:root {
  --index: calc(1vw + 1vh);
  --transition: cubic-bezier(0.1, 0.7, 0, 1);
}

body {
  background-color: rgb(43, 43, 43);
}

div {
  padding: 0;
}
a {
  font-weight: 500;
  font-size: 2rem;
  color: #ebebeb;
  text-decoration: inherit;
}
a:hover {
  color: #f25353;
}
h1 {
  font-size: calc(var(--index ) * 3);
  line-height: 1.1;
  color: white;
}

nav{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
